---
---
<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml">
  <head>
    {% include head.html %}

    <title>Beacon - Port forwarding made simple</title>
  </head>
  <body>
    {% capture additional_header_content %}
      <section id="pitch" class="ui center aligned grid">
        <div class="twelve wide column">
          <h1>Simplified port forwarding</h1>
          <p>Automatically expose your game server using UPnP magic</p>

          <div id="download-buttons">
            {% assign stable_releases = site.github.releases | where: 'prerelease', false %}
            {% assign latest_release = stable_releases[0] %}

            {% assign latest_windows_assets = latest_release.assets | where: 'content_type', 'application/x-msdownload' %}
            {% assign latest_windows_asset = latest_windows_assets[0] %}

            {% assign latest_nix_assets = latest_release.assets | where: 'content_type', 'application/java-archive' %}
            {% assign latest_nix_asset = latest_nix_assets[0] %}

            {% if latest_windows_asset %}
            <a href="{{ latest_windows_asset.browser_download_url }}" class="ui inverted huge button">
              <i class="windows icon"></i>
              Windows
            </a>
            {% endif %}
            {% if latest_nix_asset %}
            <a href="{{ latest_nix_asset.browser_download_url }}" class="ui inverted huge button">
              <i class="linux icon"></i>
              Linux
            </a>
            <a href="{{ latest_nix_asset.browser_download_url }}" class="ui inverted huge button">
              <i class="apple icon"></i>
              Mac OS
            </a>
            {% endif %}
          </div>
        </div>
      </section>

      <section id="demo-container" class="ui center aligned basic segment">
        <img id="demo" src="media/demo.png" />
      </section>
    {% endcapture %}

    {% include header.html additional_content=additional_header_content %}

    {% capture page_content %}
      <section class="ui vertical very padded segment">
        <section class="ui center aligned very relaxed grid">
          <div class="row">
            <div class="five wide column">
              <h2 class="ui icon header">
                <i class="thumbs up icon"></i>

                <div class="content">
                  Simple and Efficient
                  <div class="sub header">
                    Open up your local servers with a single click
                  </div>
                </div>
              </h2>
            </div>
            <div class="five wide column">
              <h2 class="ui icon header">
                <i class="microchip icon"></i>

                <div class="content">
                  Broad Support
                  <div class="sub header">
                    Supported out of the box by most consumer routers
                  </div>
                </div>
              </h2>
            </div>
            <div class="five wide column">
              <h2 class="ui icon header">
                <i class="unlock icon"></i>

                <div class="content">
                  No Login Required
                  <div class="sub header">
                    Knowing the router password is not required
                  </div>
                </div>
              </h2>
            </div>
          </div>
        </section>
      </section>
      <section id="releases" class="ui vertical very padded segment">
        <h2 class="ui header">Releases</h2>

        <table class="ui very basic celled table">
          <thead>
            <tr>
              <th>Version</th>
              <th class="collapsing">Downloads</th>
            </tr>
          </thead>
          <tbody>
            {% assign recent_releases = site.github.releases | slice: 0, 3 %}
            {% for release in recent_releases %}
              <tr>
                <td>
                  <h4 class="ui header">
                    {{ release.tag_name }}

                    {% if release.prerelease %}
                      <a class="ui red label">Pre-Release</a>
                    {% endif %}
                  </h4>

                  {% if release.body != "" %}
                    <pre>{{ release.body | markdownify }}</pre>
                  {% endif %}
                </td>
                <td class="top aligned collapsing">
                  {% assign windows_assets = release.assets | where: 'content_type', 'application/x-msdownload' %}
                  {% assign windows_asset = windows_assets[0] %}

                  {% assign nix_assets = release.assets | where: 'content_type', 'application/java-archive' %}
                  {% assign nix_asset = nix_assets[0] %}

                  {% if windows_asset %}
                    <a href="{{ windows_asset.browser_download_url }}" class="ui inverted red icon button" title="Windows">
                      <i class="windows icon"></i>
                    </a>
                  {% endif %}
                  {% if nix_asset %}
                    <a href="{{ nix_asset.browser_download_url }}" class="ui inverted red icon button" title="Linux">
                      <i class="linux icon"></i>
                    </a>
                    <a href="{{ nix_asset.browser_download_url }}" class="ui inverted red icon button" title="Mac OS">
                      <i class="apple icon"></i>
                    </a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    {% endcapture %}
    {% include main.html content=page_content %}

    {% include footer.html %}
  </body>
</html>
