---
---

$primary-brand-color: #cb2d3e;
$secondary-brand-color: #ef473a;

body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

#header-container {
  background: $primary-brand-color;
  background: radial-gradient(ellipse at bottom, $primary-brand-color, $secondary-brand-color);
}

#pitch,
#download-buttons {
  margin-top: 30px;
}

#page-header,
#screenshot-container {
  padding-bottom: 0;
}

#demo-container {
  margin-top: 35px;
}

#demo {
  margin-bottom: -60px;
}

#main-container {
  flex-grow: 1;
}

#releases pre {
  white-space: normal;
  text-wrap: normal;
  text-overflow: clip;
}

a {
  color: $primary-brand-color;
  transition: color 100ms ease;

  &:hover {
    color: $secondary-brand-color;
  }
}
