---
---

#header-container {
  background: #cb2d3e;
  background: radial-gradient(ellipse at bottom, #cb2d3e, #ef473a);
}

#pitch,
#download-buttons {
  margin-top: 30px;
}

#page-header,
#screenshot-container {
  padding-bottom: 0;
}

#demo-container {
  margin-top: 35px;
}

#demo {
  margin-bottom: -60px;
}
