---
---

#header-container {
  background: #43c6ac;
  background: radial-gradient(ellipse at bottom, #3d72b4, #525252);
}

#pitch,
#download-buttons {
  margin-top: 30px;
}

#page-header,
#screenshot-container {
  padding-bottom: 0;
}

#demo-container {
  margin-top: 35px;
}

#demo {
  margin-bottom: -60px;
}
