<header id="header-container" class="ui vertical inverted very padded segment">
  <section id="header" class="ui inner container">
    <div class="ui large secondary inverted menu">
      <a href="{{ '/' | relative_url }}" class="item">
        <h1 class="ui inverted header">Beacon</h1>
      </a>

      <div class="right menu">
        <a href="{{ '/docs' | relative_url }}" class="item">
          <i class="book icon"></i>
          Documentation
        </a>
        <a href="{{ '/#releases' | relative_url }}" class="item">
          <i class="rocket icon"></i>
          Releases
        </a>
      </div>
    </div>
  </section>

  {% if include.additional_content %}
     {{ include.additional_content }}
  {% endif %}
</header>
